.participantes{
    display: flex;
    justify-content: space-around;
    padding: 70px;
}

.participantes img{
    width: 350px;
    min-height: 470px;
    border: solid white 1px;
    border-radius: 160px;
    margin-bottom: 30px;
}

.participantes .nicolas, .lucas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.participantes p{
    margin: 10px;
}

@media (min-width: 1201px) and (max-width: 1500px) {
    .participantes img{
        width: 300px;
        min-height: 350px;
    }

    .participantes{
        margin-top: 50px;
        position: relative;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .participantes{
        flex-direction: column;
    }

    .container{
        position: relative;

        width: 100vw;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
    background: rgb(53,210,255);
}

a{
    text-decoration: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer{
    background: rgb(53,210,255);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-left img {
    height: 150px;
    width: 150px;
    padding: 15px;
}

.header-left .title{
    margin: 20px 0 0 30px;
}

.header-left .title{
    color: #FFFFFF;
}

header .links{
    width: 500px;
    margin-top: 120px;
    padding-right: 50px;
    display: flex;
    justify-content: space-evenly;
}

.container{
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.footer-left {
    color: #FFFFFF;
    margin: 20px 0 0 30px
}


footer a{
    color: #FFFFFF;
}

.footer-middle{
    margin: 40px 0 0 10px
}

.footer-right{
    display: flex;
    justify-content: flex-start;
}

.footer-right svg{
    margin: 20px 0;
    height: 50px;
}

.login{
    display: flex;
    justify-content: end;
    height: 50px;
    align-items: center;
}

.login h1{
    position: absolute;
    left: 45%;
    color: white;
}

.login nav{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-right: 50px;
    margin-top: 20px;
}

.login nav a{
    color: white;
}

.links a{
    color: #FFFFFF;
}

@media (min-width: 1201px) {

    /* Desktop*/

    main{
        display: flex;
        justify-content: space-between;
    }

    main .about{
        margin-top: 60px;
        margin-left: 20px;
        width: 500px;
    }

    .about h2{
        padding-bottom: 50px;
    }

    .about .link-about{
        margin-top: 60px;
    }

    .main-right img{
        height: 400px;
        width: 600px;
        margin: 60px 40px 0 0;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {

    header .links{
        font-size: 23px;
        margin-bottom: 20px;
    }

    .header-left img {
        height: 100px;
        width: 100px;
    }

    .main-right img {
        margin-top: 30px;
        height: 350px;
        width: 450px;
        padding: 15px;
    }
    .menu, main .about{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .about h5{
        font-size: 50px;
        margin-bottom: 25px;
    }

    .about p{
        text-align: center;
        font-size: 17px;
        margin-bottom: 30px;
        padding: 0 50px;
    }

    .link-about a{
        font-size: 20px;
    }

    .login{
        height: 70px;
    }

    .login nav a{
        font-size: 25px;
    }

    .login h1{
        left: 10%;
    }

    .footer-left {
        font-size: 22px;
    }

    .footer-middle{
        font-size: 25px;
    }

    .footer-right svg{
        margin: 20px 20px;
        height: 65px;
        width: 50px;
    }

    .legal{
        font-size: 27px;
    }

}

