body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

header, footer {
    background-color: rgb(53, 210, 255);
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    background: url(../img/moon-sea-vector.avif);
    background-size:cover ;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
